@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}
:root {
  --color-brand-primery: #819b57;
  --color-brand-light: #f9f9f9;
  --color-brand-dark: #31261a;
  --color-secondaty-green: #465929;
  --color-secondaty-light: #cfcfbc;
  --color-secondaty-dark: #a18268;
}
ul {
  list-style-type: none;
}
body {
  color: var(--color-brand-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
/*Кнопка*/
.button {
  padding: 16px 32px;
  color: #faf4ea;
  background-color: var(--color-brand-primery);
  border: 2px solid var(--color-brand-primery);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-secondaty-green);
  background-color: transparent;
}

.nav-link {
  color: var(--color-brand-light);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-brand-primery);
  font-weight: 600;
}
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/*Hero-section*/
.hero-title {
  color: var(--color-brand-light);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
.accent {
  color: var(--color-brand-primery);
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}
.hero-section {
  padding: 272px 0;
}
/*Advantages--section*/
.advantages-list {
  color: var(--color-brand-light);
  background-color: var(--color-brand-primery);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1, 3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Traditions-section*/
.traditions-section {
  padding-top: 96px;
}
.traditions-title {
  margin-bottom: 42px;
}

/*Chefs-section*/
.section-title .accent {
  color: var(--color-secondaty-green);
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chefs-title {
  margin-bottom: 80px;
}

/*Formats-section*/
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-title {
  margin-bottom: 80px;
}

/*Contact-section*/
.contact-title {
  margin-bottom: 16px;
}

/*Footer*/
.address-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-brand-light);
}
.address-link:hover {
  color: var(--color-brand-primery);
}
.address-copyright {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secondaty-dark);
}
